body {
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: 'Inter', sans-serif;
    margin-left: 20px;
}

.name-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-section img {
    width: 25px;
}

.social-media-links {
    display: flex;
    gap: 10px;
}

.name {
    cursor: pointer;
    /* text-decoration: underline; */
}

.small-prefix-name {
    color: rgb(135, 135, 135);
}

.big-post-name {
    font-weight: bold;
    font-size: 2em;
}

hr {
    margin-top: 0px;
    margin-bottom: 20px;
}

.bio-section {
    margin-bottom: 40px;
}

.topic-section {
    margin-top: 20px;
}

.topic-name {
    font-weight: bold;
}

.project-cart {
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
    cursor: pointer;
}

.project-cart img {
    max-width: 100%;
    height: auto;
}

.project-cart-title {
    font-size: 16px;
    margin-top: 10px;
}

.project-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
